[Desktop Entry]
Type=Application
Name=OpenDeck
Exec=flatpak run me.amankhanna.opendeck --hide
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
X-GNOME-Autostart-enabled=true
